<h1>Edit your book</h1>
<form action="/books/updatebook" method="post" class="form">
<input type="hidden" name="id" value="{{bookind.id}}">
  <div class="form-control">
    <label for="title">Title:</label>
    <input type="text" name="title" placeholder="Enter the title" value="{{bookind.title}}">
  </div>
  <div class="form-control">
    <label for="pageqty">Number of pages:</label>
    <input type="number" name="pageqty" placeholder="Enter the number of pages the book contains"  value="{{bookind.pageqty}}">
  </div>
  <input type="submit" value="Edit">
</form>